<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID-19 Data Dashboard</title>
</head>
<body>
    <header>
        <h1>COVID-19 Data Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/most_affected_country">Most Affected Country</a></li>
            <li><a href="/least_affected_country">Least Affected Country</a></li>
            <li><a href="/highest_case_country">Country with Highest Cases</a></li>
            <li><a href="/lowest_case_country">Country with Lowest Cases</a></li>
            <li><a href="/totalCases">Total Cases</a></li>
            <li><a href="/most_efficient_country">Most Efficient Country</a></li>
            <li><a href="/least_efficient_country">Least Efficient Country</a></li>
            <li><a href="/most_suffering_country">Most Suffering Country</a></li>
            <li><a href="/least_suffering_country">Least Suffering Country</a></li>
        </ul>
    </nav>
    <footer>
        <p>&copy; 2024 COVID-19 Data Dashboard by Tushar Vyas</p>
    </footer>
</body>
</html>
